<!DOCTYPE html>

<html lang="en">

  <% include partials/_head %>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <ul>
    <% for (key in urls) { %>
      <li>
        <div>
          <strong>Shortened Link: </strong> <%= key %>  ==> <a href="<%= urls[key] %>">  <%= urls[key] %> </a>
          <form method="POST" action="/urls/<%= key %>/delete">
            <button type="delete" value="Delete" class="bg-danger" style="border-radius: 12px; width: 100px;"><span class="glyphicon glyphicon-bin"></span> DELETE</button>
          </form>
          <a href="/urls/<%= key %>"><span class="glyphicon glyphicon-pencil"></span><u>Edit</u></a>
        </div>
      </li>
      <br/>
    <% }; %>
    </ul>
    <a href="\urls\new">Link to Shorten </a>
  </body>
</html>